.home-page-container {
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
}

.banner-container {
  margin-bottom: 40px;
  height: 26vw;
  overflow: hidden;
}

.banners {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banners img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-product-slider {
  background-color: #ebebeb;
  padding: 50px 20px;
}

.home-product-slider h2 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 50px;
}

.slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slides .slick-slide {
  margin: 0 20px;
}

.slick-slide .product-card {
  margin: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.slick-slide .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.slick-slide .product-card:hover .product-card__image {
  transform: scale(1.1);
}

.product-card__image {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__details {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.product-card__details h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.product-card__details p {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #666;
}

.product-card__details button {
  display: block;
  margin-top: 20px;
  font-size: 1.6rem;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #2d72d9;
  transition: all 0.3s ease-in-out;
}

.product-card__details button:hover {
  background-color: #1f4e8d;
}
