.admin-container {
    display: flex;
    height: 120%;
    position: relative;
    top: -20px;
}

.sidebar {
    width: 15%;
    background-color: #293042;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar .tab {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar .tab:hover {
    background-color: #1c2331;
}

.sidebar .tab--selected {
    background-color: #1c2331;
}

.main-content {
    flex: 1;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

.admin-panel__title {
    font-size: 32px;
    margin-bottom: 20px;
}

.tab-panel {
    margin-top: 20px;
}
    