.user-dets-container {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

.update-btn {
    background-color: #f0c040;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    outline: 0;
}

.profile-table {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-cell {
    padding-bottom: .7rem;
    padding-top: .7rem;
}

.boxStyle {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.paperStyle {
    width: 80%;
    max-width: 950px;
    padding: 1.5rem;
}

.formSubmitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media(max-width: 900px) {
    .user-dets-container {
        transform: translateY(16%);
    }
}