.product-list {
    margin-top: 20px;
  }
  
  .product-list__loading,
  .product-list__error {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-list__select {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-list__select span {
    margin-right: 5px;
  }
  
  .product-list__select-box {
    margin-right: 10px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    padding: 10px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f5f5f5;
  }
  
  .product-table th.name,
  .product-table th.description,
  .product-table th.picture,
  .product-table th.category,
  .product-table th.price,
  .product-table th.quality,
  .product-table th.quantity,
  .product-table th.Action {
    width: 14%;
  }
  
  .product-table td.picture {
    width: 10%;
  }
  
  .product-table td.picture img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  
  .product-table td.Action {
    text-align: center;
  }
  
  .product-table td.Action button {
    background-color: transparent;
    border: red;
    background-color: #f44336;
    cursor: pointer;
    color: #f7f1f0;
  }
  
  .product-table td.Action button i {
    margin-right: 5px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .page-numbers {
    display: flex;
    list-style-type: none;
  }
  
  .page-numbers li {
    margin-right: 5px;
  }
  
  .page-numbers li button {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
  }
  
  .page-numbers li.active button {
    background-color: #f5f5f5;
  }
  